[submodule "Gigavolt/reference/NCalc2"]
	path = Gigavolt/reference/NCalc2
	url = https://github.com/XiaofengdiZhu/NCalc2
[submodule "reference/survivalcraft-api"]
	path = reference/survivalcraft-api
	url = https://gitee.com/THPRC/survivalcraft-api
